.card {
  margin: 55px auto;
  margin-bottom: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(223, 164, 164) 0%,
    rgb(184, 150, 217) 90%
  );
  border: 1px solid rgba(126, 120, 120, 0.94);
  border-radius: 16px;
}
h1 {
  font-size: 80px;
  color: #680747;
  margin-top: 0;
}
button {
  margin-left: 500px;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  background-color: #885df1;
  border: 1px solid #680747;
  color: white;
  padding: 7px;
  transition: all 200ms ease;
  border-radius: 5px;
}
button:hover {
  color: #680747;
  background: white;
  border: 1px solid #885df1;
}
.date {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: #fff;
}
.sunny-cloud {
  font-size: 95px;
}
#temp {
  font-size: 90px;
  color: #680747;
  font-weight: 120px;
}
.days {
  font-size: 17px;
  color: purple;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 25px;
}
.degrees {
  font-size: 13px;
  color: blue;
  margin-left: 10px;
  word-spacing: 8px;
}
.emojis {
  font-size: 30px;
  margin-left: 10px;
}
form {
  margin-right: 30px;
}

.units {
  margin-top: 31px;
}

.appearance {
  text-transform: capitalize;
}

.git-hub {
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  color: #680747;
  font-weight: bold;
  font-size: 20px;
}
